div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	word-wrap: break-word;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size: 16px;
	margin: 0;
	padding: 0;
	word-wrap: break-word;

}
body {
	margin: 0;
	padding: 0;
	line-height: 1.7;
	font-size: 100%;
	color: #545454;
	font-family: Arial,”ヒラギノ角ゴ Pro W3″,”Hiragino Kaku Gothic Pro”,Osaka,”メイリオ”,Meiryo,”ＭＳ Ｐゴシック”,”MS PGothic”,sans-serif;
	box-sizing: border-box;
	background-color: white;
	word-wrap: break-word;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
	margin: 0;
	padding: 0;
	color: #545454;
}
h2 {
	margin: 0;
	padding: 0;
	color: #545454;
}
h3 {
	margin: 0;
	padding: 0;
	color: #545454;
}
h4 {
	margin: 0;
	padding: 0;
	color: #545454;
}
h5 {
	margin: 0;
	padding: 0;
	color: #545454;
}
h6 {

	margin: 0;
	padding: 0;
	color: #545454;
}

p {
	margin: 0;
	padding: 0;
}
.clreset {
	color: #545454;
	color: #4a4a4a;
}
a {
	text-decoration: none;
	color: #4a4a4a;
}
img {
	max-width: 100%;
	height: auto;
}
pre {
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}